<div class="card" style="background-color: red/*#900000*/; text-decoration-color: white">
  <h5 class="card-header" style="color: white">Contact Info</h5>
  <div class="card-body">
    <h5 class="card-title" style="color: white">Ministry of Health and Family Welfare </h5>
    <p class="card-text" style="color: white">Government of India</p>
	  <p class="card-text" style="color: white">INDIA</p>
    <a href="/reports/new" class="btn btn-primary">Leave a message</a>
  </div>
</div>      
    </body>
</html>